<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

        <!-- meta -->
        <meta charset="utf-8" />
        <meta name="author" content="{{ AUTHOR }}" />

        <!-- Feeds -->
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        {% if page and page.goimport %}
        <!-- go-import meta tags -->
        <meta name="go-import" content="{{ page.goimport }}" />
        {% endif %}

        <!-- Style -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link rel="shortcut icon" href="{{ SITEURL }}/theme/favicon.ico" />

    </head>
    <body>
	    <header>
        <div id="wrapper">
		<div id="blogtitle"><a href="{{ SITEURL }}">{{ SITENAME }}</a>{% if SITESUBTITLE %}<div id="subtitle">{{ SITESUBTITLE }}</div>{% endif %}</div>

          <!-- Menubar -->
          <ul id="mainnav">
            {% for name, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
          </ul>

          <div class="clearboth"></div>
          <div id="content">
            {% block content %}
            {% endblock %}
          </div>
        </div>
	    </header>

        <!-- footer -->
        <div class=footer>
          <div class="textwidget">
            {% for name, link in SOCIAL %}
            {% if name == "adele" %}
            <a alt="family site" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_aim.png" alt="aim button"/></a>
            {% endif %}

            {% if name == "feed" %}
            <a alt="feed RSS" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_rss.png" alt="rss button"/></a>
            {% endif %}

            {% if name == "twitter" %}
            <a alt="twitter" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_twitter.png" alt="twitter button" /></a>
            {% endif %}

            {% if name == "google+" %}
            <a alt="Google +" rel="author" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_google+.png" alt="google + button" /></a>
            {% endif %}

            {% if name == "blog" %}
            <a alt="Blog" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_blog.png" alt="blog jesuislibre button" /></a>
            {% endif %}

            {% if name == "facebook" %}
            <a alt="facebook" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_facebook.png" alt="facebook button" /></a>
            {% endif %}

            {% if name == "flickr" %}
            <a alt="flickr" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_flickr.png" alt="flickr button" /></a>
            {% endif %}

            {% if name == "linkedin" %}
            <a alt="linkedin" href="{{ link }}"><img src="{{ SITEURL }}/theme/button/badge_linkedin.png" alt="linkedin button" /></a>
            {% endif %}

            {% endfor %}
          </div>

          <p>
            Site generated with <a href="http://blog.getpelican.com">pelican</a>{% if SITE_SOURCE_URL %}. Site's sourcecode available <a href="{{ SITE_SOURCE_URL }}">here</a>{% endif %}</p>
          <p>Custom theme based on <a href="https://github.com/badele/pelican-theme-jesuislibre">jesuislibre</a></p>
	  <p><a href=/img/tulips.gif>tulips.gif</a> made by <a href="https://angblev.com">Angelica Blevins</a></p>
      </div>

      {% if PIWIK_ID %}
      <!-- Piwik --> 
      <script type="text/javascript">
        var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{ PIWIK_SERVER }}" : "http://{{ PIWIK_SERVER }}");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{ PIWIK_ID }});
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
      </script>
      <noscript>
        <p><img src="http://{{ PIWIK_SERVER }}/piwik.php?idsite={{ PIWIK_ID }}" style="border:0" alt="" /></p>
      </noscript>
      {% endif %}

     </body>
</html>
